<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Free technical training by Unicorn Factory Melbourne</h2>
        <p class="lead">Love tinkering with open source software? Want to sharpen your tech skills and get mentored by Melbourne’s finest? Come along to one of our free technical training workshops and pick a challenge that’s right for you. You can pick something easy, like setting up your own Wordpress blog on a server, or you can pick something harder, like setting up an email server. We have challenges for Vagrant, Packer, Docker, Linux, AWS and more, so if you’re looking to get more technical skills but not sure where to start, this is the place to be.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
