<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
		<h3>Each workshop has a maximum capacity of only 14 places – so be quick to register your interest!
        To register, we’d like to know (in 100 words or less) what you think of the following statement: <br><br>
		<strong>“It’s better to specialise in one thing than be a generalist across many things.”</strong><br><br></h3>

		<a href="https://www.meetup.com/Unicorn-Factory/" class="btn btn-light btn-lg">Register here via Meetup</a>
      </div>
    </div>
  </div>
</aside>
