<aside class="callout we-supply">
    <!-- <div class="text-vertical-center"> -->
        <div class="container">
            <div class="col-lg-12">
                <div class="col-lg-6 offer">
                    <h3 class="pull-left">
						<span class="fa-stack fa-1x">
			              	<i class="fa fa-circle fa-stack-2x"></i>
			              	<i class="fa fa-beer fa-stack-1x text-primary"></i>
			            </span>
			            <span class="offer-text">Free beer</span>
		            </h3>
                    <div class="clearfix"></div>
                    <h3 class="pull-left">
						<span class="fa-stack fa-1x">
			              	<i class="fa fa-circle fa-stack-2x"></i>
			              	<i class="fa fa-pie-chart fa-stack-1x text-primary"></i>
			            </span>
			            <span class="offer-text">Free pizza</span>
		            </h3>
                    <div class="clearfix"></div>
                    <h3 class="pull-left">
						<span class="fa-stack fa-1x">
			              	<i class="fa fa-circle fa-stack-2x"></i>
			              	<i class="fa fa-laptop fa-stack-1x text-primary"></i>
			            </span>
			            <span class="offer-text">Free desk with power</span>
		            </h3>
		            <div class="clearfix"></div>
                </div>
                <div class="col-lg-6 offer">
                    <h3 class="pull-left">
						<span class="fa-stack fa-1x">
			              	<i class="fa fa-circle fa-stack-2x"></i>
			              	<i class="fa fa-wifi fa-stack-1x text-primary"></i>
			            </span>
			            <span class="offer-text">Free, super-fast internet connection via Wifi</span>
		            </h3>
                    <div class="clearfix"></div>
                    <h3 class="pull-left">
						<span class="fa-stack fa-1x">
			              	<i class="fa fa-circle fa-stack-2x"></i>
			              	<i class="fa fa-amazon fa-stack-1x text-primary"></i>
			            </span>
			            <span class="offer-text">Free access to AWS</span>
		            </h3>
                    <div class="clearfix"></div>
                    <h3 class="pull-left">
						<span class="fa-stack fa-1x">
			              	<i class="fa fa-circle fa-stack-2x"></i>
			              	<i class="fa fa-mortar-board fa-stack-1x text-primary"></i>
			            </span>
			            <span class="offer-text">Free mentors to help you if you get stuck</span>
		            </h3>
                </div>
            </div>
        </div>
    <!-- </div> -->
</aside>
